{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<style>


</style>

 	<section id="head" class="secondary">
            <div class="container">
                    <h5 class="pt-4"> GAllery </h5>                    
                

                </div>
    </section>


    <br> 
    <br>

    <!-- container -->
    <section class="container pt-5">
    
           
            <br>
            <br>

            
        
      

    </section>
  

  

 {% endblock %}