{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<style>


</style>

 	<section id="head" class="secondary">
            <div class="container">
                    <h5 class="pt-4"> Governing Board</h5>                    
                    Administration > Management

                </div>
    </section>

    <br><br>
    <div class="container pt-5">
    
      <!--  image left  -->
      <div class="row">
        <div class="col-md-6">
    
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100" />
        </div>
        <!-- /.col-md-6 -->
    <div class="col-md-6">

        <div class="row align-items-center h-100">
          <div class="col">
            <h3 class="display-5">Name of the person</h3>
            <p class="lead">Flexbox grids help you build some really nice layouts.
              <br /><br />
            </p>
  
          </div>
        </div>
  
      </div>
      <!-- /.col-md-6 -->
  
    </div>
    <!-- /.row -->
  
    <!--  image right  -->
    <div class="row">
      <div class="col-md-6 order-md-6">
  
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100" />
      </div>
      <!-- /.col-md-6 -->
      <div class="col-md-6 order-md-1">
  
        <div class="row align-items-center h-100">
          <div class="col">
            <h3 class="display-5">Name of the person</h3>
            <p class="lead">Push and pull classes were added to change the order on desktop but still have the image before the text on mobile.
              <br /><br />
            </p>
  
          </div>
        </div>
  
      </div>
      <!-- /.col-md-6 -->
  
    </div>
    <!-- /.row -->
  
  </div>
      </div>

      <div class="container pt-5">
    
        <!--  image left  -->
        <div class="row">
          <div class="col-md-6">
      
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100" />
          </div>
          <!-- /.col-md-6 -->
      <div class="col-md-6">
  
          <div class="row align-items-center h-100">
            <div class="col">
              <h3 class="display-5">Name of the person</h3>
              <p class="lead">Flexbox grids help you build some really nice layouts.
                <br /><br />
              </p>
    
            </div>
          </div>
    
        </div>
        <!-- /.col-md-6 -->
    
      </div>
      <!-- /.row -->
    
      <!--  image right  -->
      <div class="row">
        <div class="col-md-6 order-md-6">
    
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100" />
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6 order-md-1">
    
          <div class="row align-items-center h-100">
            <div class="col">
              <h3 class="display-5">Name of the person</h3>
              <p class="lead">Push and pull classes were added to change the order on desktop but still have the image before the text on mobile.
                <br /><br />
              </p>
    
            </div>
          </div>
    
        </div>
        <!-- /.col-md-6 -->
    
      </div>
      <!-- /.row -->
    
    </div>
    
      

 {% endblock %}