{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<style>
#font {
    font-size: 18px;
}

</style>

 	<section id="head" class="secondary">
            <div class="container">
                    <h5 class="pt-4"> SHS Staff</h5>                    
                    Administration > Non-Faculty

                </div>
    </section>

    <br><br>
    
    <div class="container pt-5">
        <div class="row">
          <div class="col-12">
              <table class="table table-image text-center" id="font">
                <thead >
                  <tr>
                    <th class="text-center" scope="col"> # </th>
                    <th class="text-center" scope="col">Image</th>
                    <th class="text-center" scope="col">Staff Name</th>
                    <th class="text-center" scope="col"> Designation </th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td class="w-25">
                        <img src="https://s3.amazonaws.com/elistlive/images/xochitl-torres.png" class="img-fluid img-thumbnail" alt="Sheep">
                    </td>
                    <td>Bootstrap 4 CDN and Starter Template</td>
                    <td>MA in English</td>
                   
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td class="w-25">
                        <img src="https://s3.amazonaws.com/elistlive/images/xochitl-torres.png" class="img-fluid img-thumbnail" alt="Sheep">
                    </td>
                    <td>Bootstrap Grid 4 Tutorial and Examples</td>
                    <td> Bsc in </td>
                    
                  </tr>
                </tbody>
              </table>   
          </div>
        </div>
      </div>

 {% endblock %}