{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<style>


</style>

 	<section id="head" class="secondary">
            <div class="container">
                    <h5 class="pt-4"></h5>                    
                    Students > Notice & Events

                </div>
    </section>


    <br> 
    <br>

    <!-- container -->
    <section class="container pt-5">
    
            <h2>Notice</h2> <br>

            <br>
            <br>

            
        
      

        <h2> events </h2>
    </section>
  

  

 {% endblock %}