{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<style>


</style>

 	<section id="head" class="secondary">
            <div class="container">
                    <h5 class="pt-4">SHS History</h5>                    
                    About Us > History

                </div>
    </section>


    <br> 
    <br>
    <!-- container -->
    <section class="container pt-5">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-12 maincontent">
               
                <p>
                    <img src="assets/images/about.jpg" alt="" class="img-rounded pull-right" width="300">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.
                </p>
                <p>Consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.</p>

            </section>
            <!-- /main -->

     

        </div>
    </section>
  

  
      <div class="jumbotron-fluid mt-5">
          <img class="speech-header-image" src="../images/s1.jpg" alt="">
       
       </div>

 {% endblock %}