{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<style>


</style>

 	<section id="head" class="secondary">
            <div class="container">
                    <h5 class="pt-4">President's Message</h5>                    
                    About Us > Messages > President

                </div>
    </section>

    <br><br>
    <div class="container pt-5">
    
      <!--  image left  -->
      <div class="row">
        <div class="col-md-6">
    
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100" />
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6">
    
          <div class="row align-items-center h-100">
            <div class="col">
              <h2 class="display-6">Name of President</h2>
              <p class="lead">Flexbox grids help you build some really nice layouts. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, qui. Voluptatum, ea doloribus laboriosam porro assumenda sequi quisquam harum, maiores suscipit officiis quos. Assumenda commodi ratione omnis dolores. Vero facere ab nisi ea, optio nobis facilis velit fuga laboriosam id est, cupiditate tempora accusamus inventore, accusantium iste eligendi harum ullam Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt aliquam itaque temporibus quibusdam neque numquam, reprehenderit rerum doloremque provident, nostrum autem accusantium, ipsum impedit rem minus corporis voluptatibus ullam nam et tempore voluptatem aspernatur saepe. Ad, delectus! Nisi labore explicabo officia, unde quod, voluptatibus eum, alias dicta sunt similique magni
                <!-- <br /><br />
                <a href="" class="">Learn More</a> -->
              </p>
    
            </div>
          </div>
    
        </div>
        <!-- /.col-md-6 -->
      </div>
      </div>
        <div class="jumbotron-fluid">
          <img class="speech-header-image" src="../images/s1.jpg" alt="">
        </div>
  
  

 {% endblock %}