{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<style>


</style>

 	<section id="head" class="secondary">
            <div class="container">
                    <h5 class="pt-4"> Admisssion Form</h5>                    
                    Admission > Admission Form

                </div>
    </section>


    <br> 
    <br>
    <!-- container -->
    <section class="container pt-5">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-12 maincontent">
             <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, minus atque! Fugit itaque fugiat fuga rerum? Omnis aliquam repellendus aspernatur quod eius, veritatis hic animi odit, esse blanditiis dignissimos. Quaerat.</p>
            
              <p> Download Form</p>
            </section>
            <!-- /main -->

     

        </div>
    </section>
  

  
      <div class="jumbotron-fluid mt-5">
          <img class="speech-header-image" src="../images/s1.jpg" alt="">
       
       </div>

 {% endblock %}